html,
body,
#map-canvas {
  height: 100%;
  width: 100%;
}
.leaflet-control-layers {
  display: none!important;
}
body {
  margin: 0;
}
.footer,
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.button {
  color: #fff;
  display: inline-block;
  padding: 2px 2px;
  margin: 2px;
  font-size: 10px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: visible;
  position: relative;
}
.button:focus {
  outline: none;
}
.ok_button {
  color: #fff;
  display: inline-block;
  padding: 2px 2px;
  margin: 2px;
  font-size: 10px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: visible;
  position: relative;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.cancel_button {
  color: #fff;
  display: inline-block;
  padding: 2px 2px;
  margin: 2px;
  font-size: 10px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: visible;
  position: relative;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.info_button {
  color: #fff;
  display: inline-block;
  padding: 2px 2px;
  margin: 2px;
  font-size: 10px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: visible;
  position: relative;
  background-color: #31b0d5;
  border-color: #269abc;
}
