<!doctype html>
<html lang="en" data-ng-app="KuzzleChatDemo">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Kuzzle Chat Demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css" />
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body data-ng-controller="KuzzleChatController as chat">

  <div class="row">
    <div class="messages" scroll-glue>
      <div class="message ng-cloak" ng-repeat="message in chat.chatRoom.messages">
        <strong style="color: {{ message.color }}">{{ message.nickName }}</strong>
        {{ message.content }}
      </div>
    </div>
  </div>

  <div class="row collapse statusbar">
    <div class="small-12 columns">Main Room:
      <ng-pluralize count="chat.chatRoom.userCount"
                    when="{'0': 'No user',
                      '1': '1 user',
                      'other': '{} users'}">
      </ng-pluralize>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-3 columns">
      <a href="#" class="button secondary prefix" data-ng-click="updateNickName()">
        <img src="./document_edit.png" border="0" alt="change alias" width="20" height="20" />
        <strong ng-cloak>{{ chat.me.nickName }}</strong>
      </a>
    </div>
    <div class="small-9 columns">
      <form data-ng-submit="chat.sendMessage()" class="row collapse">
        <div class="small-10 columns">
          <input autocomplete="off" id="inputChatMessage" type="text" placeholder="Send a message" ng-model="chat.messageText">
        </div>
        <div class="small-2 columns">
          <button class="button postfix">Send</button>
        </div>
      </form>
    </div>
  </div>



  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="js/vendor/scrollglue.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>
  <script type="text/javascript" src="config.js"></script>
  <script type="text/javascript" src="js/vendor/kuzzle.min.js"></script>
  <script src="js/app.102.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
