<div class="page-header">
    <h2>{{ currentEvent.name }}</h2>
</div>

<button type="submit" class="btn btn-primary pull-right" ng-click="changeView('/ListEvent')">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Return to list
</button>

<table class="table" ng-init="init()">
    <thead>
    <tr>
        <th class="text-center">Participants</th>
		<th class="text-center" ng-repeat="date in currentEvent.dates" ng-if="date.active">{{ date.value }}</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="col-md-1">
                    <button ng-click="" class="btn btn-danger btn-md" data-title="Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="col-md-1">
                    <button ng-click="" class="btn btn-info btn-md" data-title="Remove">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
                <div class="col-md-10">
                    <input ng-blur="setName()" ng-model="newParticipant.name" type="text" class="form-control" placeholder="Name"/>
                </div>
            </td>
		    <td ng-repeat="date in currentEvent.dates" ng-if="date.active" class="text-center">
                <input type="checkbox" ng-model="newParticipant.dates[$index]" ng-disabled="newParticipant.name == ''" />
            </td>
        </tr>
    </tbody>
</table>

<button type="submit" class="btn btn-primary pull-right" ng-click="changeView('/ListEvent')">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Return to list
</button>