<html>
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>

    <body ng-app="KuzzleTodoDemo">

        <div class="container" ng-controller="KuzzleTodoController" ng-init="init()">
            <div class="jumbotron">
                <h1>Kuzzle demo - TODO List</h1>
            </div>

            <div class="page-header">
                <h1>TODO</h1>
            </div>

            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Done</th>
                        <th>Label</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="todo in todos" ng-class="{success: todo.done}">
                            <td><input type="checkbox" ng-checked="todo.done" ng-click="toggleDone($index)"/></td>
                            <td>{{ todo.label }}</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Delete" ng-click="delete($index)">
                                    <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newTodo.label" placeholder="something to do..."/>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="addTodo()">Add</button>
                </form>
            </div>

        </div>


        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/socket.io-client/socket.io.js"></script>
        <script src="bower_components/kuzzle-sdk/dist/kuzzle.js"></script>

        <script type="text/javascript" src="config.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
